#showcase {
    margin: 0;
    padding: 0;
    background: #172238;
    width: 100%;
    height: 60vh;
    position: relative;
    overflow-y: hidden;
    background: url('../images/contact-bg.jpg') no-repeat center/cover;
}


/* .accordion-header button {
    background: #fff !important;
}

.accordion-header button::after {
    color: #172238;
    background: rgb(245, 164, 37)
} */